<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nested Routing</a>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="child-a" aria-current="page" href="#">Child-a</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="child-b">Child-b</a>
        </li>
         
      </ul>
    </div>
  </div>
</nav>  
 
</div>

<router-outlet></router-outlet>